/* style.css */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0;
    background-color: #ebebb6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 5%;
}
h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(63, 65, 129);
    font-weight: bold;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    font-size: 18px;
    text-align: justify;
    background-color: #fafae8;
}

.resume {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    
}
.image {
    width: 30%;
    height: auto;
    margin: 2%;
}
.box{
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    background-color: #e8fdff6f;
}
.boxintro{
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    padding: 5% 0%;
    background-color: #e8fdff6f;
}
.container{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.colcontainer{
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.paragraph {
    background-color: #afafaf; /* Light grey background */
    padding: 20px; /* Add some padding for better readability */
    border-radius: 5px; /* Optional: rounded corners */
}
.grey-background {
    background-color: #f0f0f0; /* Light grey background */
    padding: 20px; /* Add some padding for better readability */
    border-radius: 5px; /* Optional: rounded corners */
}
.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0% 10%;
    max-width: 500px;
    text-align: justify;
}
/* End of style.css */