.boxcontainer {
    text-align: center;
    margin-top: 20px;
}
#poemContainer {
    text-align: justify;
    margin-left: 10%; 
    margin-right: 10%;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #8d8d8d;
    background-color: #e8fdff6f;
    border-radius: 2px;
}